@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 13% 95%;
    --foreground: 224 71.4% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
 
    --primary: 197 75% 52%;
    --primary-foreground: 355.7 100% 97.3%;
 
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
 
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
 
    --accent: 120 73% 75%;
    --accent-foreground: 120 20% 10%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
 
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 197 75% 52%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 220 13% 10%;
    --foreground: 210 20% 98%;

    --card: 220 13% 15%;
    --card-foreground: 210 20% 98%;

    --popover: 220 13% 10%;
    --popover-foreground: 210 20% 98%;

    --primary: 197 75% 52%;
    --primary-foreground: 355.7 100% 97.3%;

    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;

    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;

    --accent: 120 73% 75%;
    --accent-foreground: 120 20% 10%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 197 75% 52%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
    .react-flow__node {
        @apply rounded-lg border bg-card text-card-foreground shadow-sm text-sm focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2;
    }
    
    .react-flow__node.selected {
        @apply ring-2 ring-ring ring-offset-2 ring-offset-background;
    }
    
    .react-flow__handle {
        @apply bg-primary;
    }
    
    .react-flow__edge-path {
        @apply stroke-primary/70;
    }
}
